<h1>Venue: @Model["venue"].GetName()</h1>
<br>
<br>
@if (@Model["venueBands"].Count != 0)
{
  <h4>These bands will be perfomrng at this location</h4>
  <ul>
    @foreach (var band in @Model["venueBands"])
    {
      <li>@band.GetName()</li>
    }
  </ul>
}
<br>

<h2>Add More Bands:</h2>
<form action='/venue/add_band' method='post'>
  <input id='venue-id' name='venue-id' type='hidden' value='@Model["venue"].GetId()'>
  <label for='band-id'>Select a band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<br>
<br>
<p><a href="/">Home</a></p>
